@import url(./default.css);
div#record_manager {
    /* display: inline-block; */
    height: fit-content;
    width: min(100%, 50rem);
    padding-inline: 3px;
    text-align: center;
    background: var(--bg);
    margin: 0 auto;
}

#record_manager button {
    display: inline-block;
    padding: 1px;
    margin: 2px;
    background: var(--bg3);
    font-family: var(--font-family);
    color: var(--fg);
    font-size: var(--button-font-size);
    border-radius: 5px;
}