@import url(./default.css);

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
    margin-bottom: 5px;
    padding-right: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--fg-dark);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--fg);
}